
/* Styles globaux pour le formulaire */
.medical-conditions-form {
    width: 800px;
    background-color: #fff; /* Couleur de fond du formulaire */
    padding: 20px; /* Espacement intérieur */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
    max-width: 800px; /* Largeur maximale du formulaire */
    margin: 50px auto 20px 300px; /* Centre le formulaire avec un espacement vertical augmenté en haut */
}

/* Styles pour les sections du formulaire */
.condition-section {
    margin-bottom: 20px; /* Espacement entre les sections */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Bordure légère entre les sections */
}

.condition-section h3 {
    margin-bottom: 10px; /* Espacement sous le titre de la section */
    font-size: 18px; /* Taille de la police du titre */
}

.condition-section label {
    display: block; /* Affiche le label en bloc pour qu'il occupe toute la largeur */
    margin-bottom: 5px; /* Espacement sous le label */
}

.condition-section input[type="text"],
.condition-section textarea,
.condition-section input[type="number"],
.condition-section select {
    width: 100%; /* Prend toute la largeur disponible */
    padding: 10px; /* Espacement intérieur */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 4px; /* Coins arrondis pour les champs */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    margin-bottom: 10px; /* Espacement sous les champs */
}

.condition-section input[type="radio"] {
    margin-right: 5px; /* Espacement à droite des boutons radio */
}

/* Styles pour le bouton de soumission */
button[type="submit"] {
    background-color: #007bff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprime la bordure par défaut */
    padding: 10px 20px; /* Espacement intérieur */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Changement du curseur au survol */
    font-size: 16px; /* Taille de la police */
    transition: background-color 0.3s ease; /* Effet de transition pour le changement de couleur */
    display: block;
    margin-top: 20px; /* Espacement au-dessus du bouton */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}
